.footer-nav {
    border-top: 1px solid #F3F3F3;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #fff;
}
.icon-nav {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}
.icon-nav.add {
    background-image: url("../../assets/images/plus.svg");
    background-size: 20px 20px;
}
.icon-nav.home {
    background-image: url("../../assets/images/home.svg");
    background-size: 20px 20px;
}
.icon-nav.setting {
    background-size: 20px 20px;
    background-image: url("../../assets/images/gear.svg");
}
.icon-nav.search {
    background-size: 20px 20px;
    background-image: url("../../assets/images/search.svg");
}

.icon-nav.add.selected {
    background-image: url("../../assets/images/plus-selected.svg");
}
.icon-nav.home.selected {
    background-image: url("../../assets/images/home-selected.svg");
}
.icon-nav.setting.selected {
    background-image: url("../../assets/images/gear-selected.svg");
}
.icon-nav.search.selected {
    background-image: url("../../assets/images/search-selected.svg");
}
.icon-nav.selected {
    background-size: 16px 16px !important;
    background-color: #8472FC !important;
}
