/* کل صفحه */
body {
    margin: 0;
    background: url("../../assets/images/bg.jpg") center center / cover no-repeat fixed !important;
    background-attachment: fixed !important;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* هدر */
.header-image {
    width: 100%;
    height: 60px;
    object-fit: cover;
    text-align: center;
    color: #fff;
}

.content-area {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 55px;
}

/* ردیف اول */
.row-first {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    flex-direction: row-reverse;
}

.col-left {
    flex: 1;
    height: 150px;
}

.col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-box {
    height: 70px;
}

/* باکس عمومی */
.box-item {
    background: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

.box-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    text-align: center;
}

/* گرید 2 ستونه */
/*.boxes-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    gap: 10px;*/
/*    flex: 1;*/
/*    min-height: 0;*/
/*    grid-auto-rows: 1fr;*/
/*    align-items: stretch;*/
/*}*/
.boxes-grid {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.boxes-grid .two-row-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.boxes-grid div {
    height: 100%;
}
.boxes-grid .two-row-item > div {
    width: 100%;
    flex-shrink: 1;
}
.boxes-grid .box-item.full-width.artin {
    min-height: 100px !important;
    height: 100px !important;
}
.boxes-grid .box-item.full-width.ads {
    min-height: 80px !important;
    height: 80px !important;
}


/* نوار پایین */
.bottom-nav {
    position: fixed;
    z-index: 99992 !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ddd;
}
.bottom-nav .nav-item {
    height: 100%;
    width: 31.33%;
    text-align: center;
    flex-direction: column;
    display: flex;
    line-height: 1rem;
    justify-content: center;
    cursor: pointer;
}
.bottom-nav .nav-item.active {
    background: #ffffff;
}
.bottom-nav .nav-item i {
    font-size: 1.5rem;
}
.bottom-nav .nav-item img {
    max-width: 30px;
    margin: 0 auto;
}

.card-floor-plan {
    background: linear-gradient(-150deg, #0044B5 46%, #011F61 91%);
    color: #fff;
}
.card-my-badge {
    background: linear-gradient(-150deg, #BE1100 46%, #761000 91%);
    color: #fff;
}
.card-booth {
    background: linear-gradient(-150deg, #FB9251 46%, #D94B19 91%);
    color: #fff;
}
.topbar-area {
    padding: 10px 10px 0;
}
.home-icon {
    font-size: 1.6rem;
    margin-right: 3px;
}
.make-conversation {
    background: url("../../assets/images/nothing.svg") center center / 100% 100% no-repeat;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.make-conversation-text {
    font: 0.9rem gotham;
    text-align: center;
    margin: 20px;
    color: #cccccc;
}
